/.idea
logs/
_logs/
_logs_raw/
_logs_shearlets/
_saved_logs/
_cache/
Dataset/
Dataset2/
Dataset_V02/
DCT_Dataset_V02/
Shearlet_Dataset_V02/
Resized_Dataset_V02/
Shearlet_Dataset/
Wavelet_Dataset_V02/
cifar-10-batches-py/
*.txt
*.npy
*.pkl
*.csv
__pycache__/